{# templates/_partials/_footer.html.twig #}
<hr>
<footer style="text-align: center; color: #777; margin-top: 50px;">
    <p>&copy; {{ "now"|date("Y") }} - Symfony Projesi</p>
    <p>Staj Günlükleri</p>
</footer>