{# templates/profile/show.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}{{ user.userProfile.name|default(user.email) }}{% endblock %}

{% block body %}

    <div {% include '_breadcrumb.html.twig' with {'current_page': user.userProfile.name|default(user.email)} only %}
    </div>

    {# Sadeleştirilmiş Header #}
    {{ include('profile/_profile_header.html.twig') }}

    {# Sadeleştirilmiş Sekmeler #}
    {{ include('profile/_profile_tabs.html.twig') }}

    {# İçerik Alanı #}
    {% block profile_content %}
        <div class="mt-4">
            {{ include('micro_post/_post_list.html.twig', { posts: posts }) }}
        </div>
    {% endblock %}
{% endblock %}