{% extends 'base.html.twig' %}

{% block title %}Takip Ettiğiniz Kişilerin Gönderileri{% endblock %}

{# 1. Navigasyon (Breadcrumb) #}
{% block body %}
    <div class="max-w-5xl mx-auto px-4">
        <div class="mb-8">
            {{ include('_breadcrumb.html.twig', {'current_page': 'Takip Ettiğiniz Kişilerin Gönderileri'}) }}
        </div>

        
        {{ include('micro_post/_post_tabs.html.twig') }}

        {# 3. Post Listesi #}
        <div class="mt-8">
            {{ include('micro_post/_post_list.html.twig', { posts: posts }) }}
        </div>
    </div>
{% endblock %}